.auth-form {
    margin-top: 50px;

    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 5px;

    background-color: white;
}

.auth-form-header {
    padding: 10px 20px 10px 20px;
    line-height: 44px;
    background-color: #4f86ba;
}

.auth-form-header h3 {
    display: block;

    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    height: 22px;
    line-height: 22px;
    color: white;
    font-weight: bold;

    text-shadow: 0 -1px 0 rgba(0,0,0,0.5)
}

.auth-form-body {
    padding: 15px;
}

.hero-unit {
    margin-top: 50px;

    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 5px;

    background-color: white;
    background-image: url(letshire-bg.png);
    height: 130px;
}

.hero-unit h1 {
    margin: 25px 0 20px 0;
    color: white;
    text-shadow: 1px 2px 0 rgba(0,0,0,0.5)
}