// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.interviewline li {
  display: inline;
  list-style-type: none;
  padding: 10px;
}

.interviewline.large-interval li {
  padding: 30px;
}

div.feedbackborder {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  border-color: #D3D3D3; //LightGrey
  background-color: #A9A9A9; //DarkGray
}

div.assessment-candidate-dialog {
  display: none;
}

div.dialog-candidate-blacklist-div {
  display: none;
}

div.candidate-overview {
  border-top: solid #628cb3;
  padding-top: 30px;
}

div.candidate-panel {
  background-color: #ffffff;
  padding: 20px;
  border:1px solid #dcdbdf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.candidate-panel.fixed-size {
  overflow: auto;
}

hr.candidate-splitter-line {
  color: #dcdbdf;
  background-color: #dcdbdf;
  height: 2px;
  margin-top: 0px;
  margin-bottom: 20px;
}

p.candidate-name-font {
  color: #2c639b;
  font-size: 40px;
}

p.candidate-status-font {
  font-weight: bold;
  font-size: 20px;
}

.candidate-mark-inactive-button {
  font-size: 20px;
  font-color: #2c639b;
  width: 90%;
  height: 30px;
  padding: 5px;
  background:url(mark_inactive.png) no-repeat left;
}

.candidate-assign-job-button {
  font-size: 20px;
  font-color: #2c639b;
  width: 90%;
  height: 30px;
  padding: 5px;
  background:url(assign_job_opening.png) no-repeat left;
}

table.candidate-profile {
  table-layout: fixed;
  width: 80%;
}

.candidate-profile td { 
    padding: 5px;
    font-size: 15px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.candidate-profile td.align-right {
    width: 30%;
    text-align: right;
}
