// Place all the styles related to the Interview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.interviewer-line {
  line-height: 20px;
  vertical-align: middle;

  .name {
    font-weight: bold;
  }

  .email {
    font-style: italic;
    padding-left: 4px;
  }
}


.dialog-feedback-div {
  display: none;
}

.assessment-interview-label {
  font-weight: bold;
}

input#duration, input#interview_duration {
  width: 50px;
}

.datetimepicker {
  width:  140px;
}

table.schedule_interviews {
  #modality {
    width: 140px;
  }

  #status {
    width: 100px;
  }

  th, td {
    overflow: hidden;
    width: 100px;
  }
}