div table thead.colheader {
  background-color: #f4f4f4;
}

.index-view-filter {
  margin-left: 10px;
}

.index-edit-button {
  margin-right: 10px;
}

div#inner.div-border {
  border:1px solid #f4f4f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div#outer.div-profile {
  border-top:solid #628cb3;
  padding-top: 25px;
}
