div table tr td a.icon-gear {
  background-image: url('gear.png');
  display: block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

div table tr td a.icon-editor {
  background-image: url('edit.png');
  display: block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

div.actions {
  height: 20px;
}

.action-icon {
  margin: 0;
}

.index-view-filter {
  margin-left: 10px;
}

.index-edit-button {
  margin-right: 10px;
}

